$tablet: 850px;
$smartphone: 500px;
$sub-color: grey;
$main-color: black;
$primaryColor: #77323b;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.recent-post-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 0 20px;
    .post-icon-post-name{
        display: flex;
        align-items: center;
        text-align: left;
        img{
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }
    }
    .post-stat-post-author{
         display: flex;
        align-items: center;
        text-align: left;
        .post-stat{
            text-align: right;
            .replies{
                font-size: .8em;
            }
            .views{
                font-size: .85em;
                color: darken($color: $secondaryColor, $amount: 40);
            }
        }
        .post-author{
            display: flex;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 20px;
        }
        .author-name{
            font-size: .8em;
            color: darken($color: $secondaryColor, $amount: 70);
        }
        .date-day{
            color: darken($color: $secondaryColor, $amount: 70);
            font-size: .85em;
        }
        }
    }
}