$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;
$shadow: 0px 3px 5px rgba(124, 124, 124, 0.747);

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.profile-edit-page {
  text-align: left;
  margin-top: 0px;
  padding: 0 20px;
  .profile-edit-page-header {
    span {
      font-size: 1.1em;
    }
    .edit-control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $primaryColor;
      padding: 10px 20px;
      .cancel_title {
        display: flex;
        align-items: center;
        span {
          margin-left: 40px;
          color: $secondaryColor;
        }
      }
      .save {
        font-size: 1em;
        padding: 0.4em 2.5em;
        border-radius: 200px;
        border: 1.3px solid $secondaryColor;
        color: $secondaryColor;
        background-color: transparent;
        cursor: pointer;
        margin-right: 20px;
      }
    }
    .profile-page-header-image {
      position: relative;
      height: 200px;
      width: 100%;
      background-position: center;
      background-size: cover;
      //   background-color: $blackColor;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $secondaryColor;
      .cover-container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        .cover-image {
          width: 100%;
          height: 100%;
        }
      }
      .ctrls {
        display: flex;
        align-items: center;
        img {
          margin: 10px 30px;
        }
      }
    }
    .profile-pic_buttons {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      padding-left: 30px;
      .profile-pic {
        position: relative;
        margin-top: -80px;
        // max-width: 190px;
        // width: 100%;
        max-height: 229.001px;
        height: 100%;
        background-position: 10px center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .pp {
          position: absolute;
          top: 50px;
          right: 30px;
          z-index: 2;
        }
        .africamap {
          // width: 117px;
          height: 168px;
          // margin-right: -50px;
        }
      }
    }
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    input[type='file'] {
      cursor: pointer;
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
  }

  //   .btn {
  //     border: 2px solid gray;
  //     color: gray;
  //     background-color: white;
  //     padding: 8px 20px;
  //     border-radius: 8px;
  //     font-size: 20px;
  //     font-weight: bold;
  //   }

  //   .cover .pp {
  //     position: relative;
  //     input[type='file'] {
  //       position: absolute;
  //     }
  //   }
  form {
    padding: 0px 15%;
    margin-top: 0px;
  }
}
