$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;
$shadow: 0px 3px 5px rgba(124, 124, 124, 0.747);

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.user-profile-page { 
.user-profile {
  text-align: left;
  margin-top: 0px;
  padding: 0 20px;
  .profile-page-header {
    span {
      font-size: 1.1em;
    }
    .profile-page-header-image {
      position: relative;
      height: 200px;
      width: 100%;
      background-position: center;
      background-size: cover;
      //   background-color: $blackColor;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $secondaryColor;
      .cover-container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        .cover-image {
          width: 100%;
          height: 100%;
        }
      }
    }
    .profile-pic_buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      .group_ {
        padding-left: 30px;
        .profile-pic {
          position: relative;
          margin-top: -120px;
          height: 170px;
          width: 170px;
          border-radius: 30px;
          box-shadow: $shadow;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          @include smartphone(){
          height: 120px;
          width: 120px;
          }
          .profile-pp {
            // width: 106px;
            height: 168px;
            position: absolute;
            top: 0;
            right: 0;
            @include smartphone(){
              height: 118px;
            }
          }
          .profile-p {
            // width: 106px;
            height: 168px;
          }
        }
      }
      .buttons {
        .logout {
          font-size: 1em;
          padding: 0.4em 2.5em;
          border-radius: 200px;
          border: 1.3px solid $primaryColor;
          color: $primaryColor;
          background-color: white;
          cursor: pointer;
          margin-right: 20px;
          @include smartphone(){
            display: none;
          }
        }
        a {
          font-size: 0.9em;
          padding: 0.3em 5em;
          border-radius: 200px;
          border: none;
          color: white;
          background-color: $primaryColor;
          cursor: pointer;
          @include smartphone(){
            padding: 0.3em 3em;
          }
          span{
            white-space: nowrap;
            @include smartphone(){
            font-size: 14px;
            }
          }
        }
      }
    }
  }
  .user-desc_info {
    margin: 20px 0;
    span {
      font-size: 1em;
      line-height: 3em;
    }

    .rate {
      display: flex;
      align-items: center;
      .demacator {
        margin: 0 10px;
      }
    }
    .info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .joined,
      .link,
      .location,
      .timezone {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 20px;
        a {
          color: $primaryColor;
        }
        img {
          height: 25px;
          margin-right: 5px;
        }
      }
    }
  }
  .member-activity {
    margin-bottom: 20px;
    h4 {
      font-size: 1em;
      font-weight: 400;
      line-height: 2em;
      border-bottom: 2px solid darken($color: $secondaryColor, $amount: 20);
      margin-bottom: 20px;
    }
    .boxes {
      display: flex;
      justify-content: center;
      .box {
        display: flex;
        width: 130px !important;
        // width: 100%;
        box-shadow: $shadow;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        span {
          margin: 5px;
          font-size: 0.9em;
        }
      }
    }
  }
}
}
