$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;
$shadow: 0px 3px 5px rgba(124, 124, 124, 0.747);

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.message{
    display: flex;
    height: 70vh;
    @include smartphone(){
      display: block;
      height: 0vh;
    }
    .sidebar{
        width: 350px;
        border-right: 1px solid #555555;
        @include tablet(){
        width: 250px;
        }
        @include smartphone(){
          width: 100%;
        }
    }
    .message-panel{
        width: calc(100vw - 350px);
        @include tablet(){
        width: calc(100vw - 250px);
        }
        @include smartphone(){
          width: 100%;
        }
    }
}