$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;
$shadow: 0px 3px 5px rgba(124, 124, 124, 0.747);

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.direct-message{
     height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px;
    @include smartphone(){
      display: flex;
      height: auto;
      padding: 20px 20px 0 20px;
      overflow: hidden;
      overflow-x: scroll;
    }
    .user-messanger-preview{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      cursor: pointer;
      @include smartphone(){
        flex-direction: column;
        justify-content: center;
        margin: 0px 10px;
        height: 70px;
      }
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid $primaryColor;
        margin: 0 15px 5px 0 ;
        @include smartphone(){
        margin: 0 0 5px 0 ;
        }
      }
      .name-text-preview{
        text-align: left;
        @include smartphone(){
        }
        .name{
          color: $primaryColor;
          text-transform: capitalize;
           @include smartphone(){
             font-size: .6em;
        }
        }
      }
      .time-noty{
        text-align: center;
        .noty{
          background-color: $primaryColor;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: $secondaryColor;
          width: 22px;
          height: 22px;
          border-radius: 50%;
        }
      }
    }
}