$big-smartphone: 400px;
$smartphone: 350px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin big-smartphone {
  @media (max-width: #{$big-smartphone}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: $blackColor;
  p {
    color: lighten($color: $blackColor, $amount: 30) !important;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    // justify-content: center;
    // align-items: center;
    text-align: left;

    @include smartphone() {
      flex-direction: column;
      align-items: flex-start;
    }
      .form-input {
        background: none;
        color: $secondaryColor;
        margin: 10px 0;
        font-size: 18px;
        padding: 5px 10px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border: 1px solid $secondaryColor;
        outline: none;

    }

    .btn {
      width: 80%;
      white-space: nowrap;
      height: 40px;
      margin: auto;
      letter-spacing: 0.5px;
      line-height: 40px;
      padding: 0px 20px;
      font-size: 15px;
      background-color: #EAB88C;
      border: none;
      color: $primaryColor;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      @include big-smartphone(){
        width: 90%;
      }
      @include smartphone(){
        width: 100% !important;
      }
      img {
        margin-right: 10px;
      }
      &:hover {
        background-color: white;
        color: #a3a3a3;
        border: 1px solid #a3a3a3;
      }
    }
  }
}
