$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.media {
  // color: #ffffff;
  text-align: left;
  margin-top: 20px;
  .user {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 0 !important;
    .user-icon {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      margin-right: 5px;
    }
    .name-time {
      h5 {
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 600;
      }
      span {
        font-size: 13px;
      }
    }
  }

  .content {
    p {
      font-size: 13px;
      font-weight: 400;
    }
  }
}
