$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.header {
  border-bottom: 1px solid darken($color: $secondaryColor, $amount: 40);
  position: fixed;
  top: 0;
  right: 0;
  background: $secondaryColor;
  left: 0;
  z-index: 6;
  .join-tribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blackColor;
    padding: 10px;
    p {
      font-size: 15px;
      line-height: 19px;
      color: $secondaryColor;
    }
  }
  .branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .social {
      max-width: 20%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      .icon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        display: inline-flex;
        margin-right: 10px;

        img {
          margin: auto;
          width: 24px;
        }
      }
    }
    .brand {
      max-width: 40%;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin: auto;
      img {
        width: 140px;
        // height: 50px;
      }
    }
    .controls {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 30%;
      width: 100%;
      @include tablet() {
        max-width: 20%;
      }
      .search {
        width: 18px;
        height: 18px;
        display: inline-flex;

        img {
          margin: auto;
          width: 18px;
          height: 18px;
        }
      }
      .buton {
        @include tablet() {
          display: none;
        }
      }
    }
  }
  nav {
    display: flex;
    .nav-links {
      display: flex;
      margin: auto;
      text-align: center;
      .nav-link {
        margin: 0px 40px;
        padding: 6px 0px;
        a {
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #303030;
        }
      }
    }
  }
}
