$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.forgot-password-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
  box-shadow: 0px 4px 20px rgba(64, 27, 32, 0.15);
  &::before {
    content: 'Reset Your Password';
    color: $primaryColor;
    font-size: 18px;
    position: absolute;
    top: 25px;
  }
  .btn {
    width: 100%;
    button {
      margin: auto;
    }
  }
}
