$tablet: 850px;
$smartphone: 600px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;
$shadow: 0px 4px 20px rgba(64, 27, 32, 0.15);

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.newsletter-popup {
  position: absolute;
  overflow: hidden;
  top: 120px;
  transform: (50%);
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $blackColor;
  width: 500px;
  padding: 50px 30px 0px 30px;
  .heading {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 28px;
    color: $primaryColor;

    @include smartphone() {
      margin-top: 20px;
    }
  }
  p {
    color: lighten($color: $blackColor, $amount: 30) !important;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 20px 0;

    @include smartphone() {
      flex-direction: column;
      align-items: flex-start;
    }
    .group-input {
      margin: 10px 0;
      label {
        margin-left: 5px;
      }
      .form-input {
        background: none;
        // background-color: white;
        color: $blackColor;
        font-size: 18px;
        padding: 0px 10px 10px 5px;
        display: block;
        width: 350px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $blackColor;
        // margin: 20px 0;

        &:focus {
          outline: none;
        }
      }
    }

    .btn {
      min-width: 20px;
      width: 60%;
      height: 40px;
      letter-spacing: 0.5px;
      line-height: 40px;
      padding: 0px 20px;
      font-size: 15px;
      background-color: $primaryColor;
      color: white;
      text-transform: capitalize;
      font-family: 'Open Sans Condensed';
      font-weight: bolder;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      img {
        margin-right: 10px;
      }
      &:hover {
        background-color: white;
        color: #a3a3a3;
        border: 1px solid #a3a3a3;
      }
    }
  }
  .pattern {
    position: relative;
    img {
      // position: absolute;
      height: 90px;
      margin-bottom: -10px;
    }
  }
}
