$tablet: 850px;
$smartphone: 600px;
$primaryColor: #77323b;
$fadedPrimary: #fdf6f6;
$blackColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

#form { 
  padding: 1em 2em;
  background-color: $fadedPrimary;
  @include smartphone(){
    display: flex;
  }
    #formHeading { 
      display: flex;
      align-items: center;
      gap: 2px;
        #userImg { 
            img { 
              width: 60px;
              height: 60px;
              border-radius: 50%;
              margin-right: .7em;
            }
        }
        h2 { 
          font-size: 1.1em;
          // padding-top: 6%;
          text-transform: capitalize;
          font-weight: lighter;
          letter-spacing: 0.06em;
          @include smartphone(){
            display: none;
          }
        }
    }
    input { 
      width: 80%;
      margin: 0 auto;
      margin-left: -30px;
      // text-transform: uppercase;
      padding: .6em 1em;
      font-size: 1em;
      border-radius: 200px;
      border: 1px solid rgba(128, 128, 128, 0.664);
      @include smartphone(){
        margin-left: 10px;
        padding: .6em 1em !important;
      }
    }
}