$smartphone-width: 500px;
$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

@mixin smartphone {
  @media (max-width: #{$smartphone-width}) {
    @content;
  }
}

.group {
  position: relative;
  margin: 30px 0;
  @include smartphone() {
    margin: 20px 0;
  }

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 20px 0;
    @include smartphone() {
      margin: 10px 0;
      font-size: 16;
      padding: 5px;
    }

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }
  .showpass {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    @include smartphone() {
      top: 8px;
    }
  }
  .forgot-password {
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    color: #2d8be9;
    position: absolute;
    right: 0;
    bottom: -20px;
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
    @include smartphone() {
      font-size: 14px;
      top: 8px;
    }

    &.shrink {
      @include shrinkLabel();
    }
  }
}
