$smartphone-width: 600px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;

@mixin smartphone {
  @media (max-width: #{$smartphone-width}) {
    @content;
  }
}

.comment-box {
  margin-top: 20px;
  width: 100%;
  form {
    width: 100%;
    display: flex;
    textarea {
      background: none;
      background-color: transparent;
      font-size: 0.9em;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      height: 40px;
      border-radius: 0;
      border: 1px solid #efd7d7;
      margin: 10px 0 25px 0;
      transition: all 0.5s;
    }
    .post-comment {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      white-space: nowrap;
      color: #77323b;
      img {
        width: 18px;
        height: 18px;
        margin-left: 5px;
        margin-top: 10px;
        &:first-child {
          width: 40px;
          height: 40px;
        }
      }
      @include smartphone() {
        width: 90%;
        float: none;
      }
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
